@model Peppirohny.Models.User.RegistrationModel
Введите логин, пароль, ФИО
<form asp-controller="User" asp-action="Registration" asp-antiforgery="true" method="post">
    <div class="input-group mb-3">
        <input asp-for="login" type="text" class="form-control" placeholder="Логин">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-user"></span>
            </div>
        </div>
        <div class="col-12">
            <span asp-validation-for="login" class="text-danger"></span>
        </div>
    </div>
    <div class="input-group mb-3">
        <input asp-for="password" type="password" class="form-control" placeholder="Пароль">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
        <div class="col-12">
            <span asp-validation-for="password" class="text-danger"></span>
        </div>
    </div>
    <div class="input-group mb-3">
        <input asp-for="FIO" type="text" class="form-control" placeholder="Фамилия Имя Отчество">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-user"></span>
            </div>
        </div>
        <div class="col-12">
            <span asp-validation-for="FIO" class="text-danger"></span>
        </div>
    </div>
    <div class="row">

        <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
        </div>
    </div>
</form>